@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&display=swap');

:root {
  --spotify-color: #1ed760;
  --bg-color: black;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bolder;
}

html {
  color: var(--spotify-color);
  background: #01102d;
  overflow-x: hidden;
}

.container__login {
  display: flex;
  flex-direction: row;
  margin: 20vh auto;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 8px 8px 1px 1px rgba(255, 255, 255, 1);
  max-width: 700px;
  height: 500px;
  text-align: center;
}

.container__hero {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(10px 50px 1px #fdf9f9c0);
  background: transparent;
  border-radius: 10px;
  height: 50vh;
  text-align: center;
}

.container__hero__full {
  background: transparent;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 5vh;
  height: 100%;
  width: 100%;
}

.container__fall__grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  z-index: -1;
}

.fall {
  background: transparent;
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 5vh;
}

.slow {
  transition: all .3s ease-in-out;
  animation: drop-down 3s 10s infinite;
}

.fast {
  transition: all .3s ease-in-out;
  animation: drop-down 3s 3s infinite;
}

@keyframes drop-down {
  from {
    top: -100px;
    opacity: 1;
  }

  to {
    top: 300px;
    opacity: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vh;
  align-self: center;
}

.description {
  text-align: center;
  margin-top: 40px;
}

.align__center {
  align-items: center;
}

.justify__center {
  justify-content: space-evenly;
}

.container__login__left {
  background-image: url('./img/AI.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.container__login__full {
  background-image: url('./img/AI.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  border: 1px solid white;

}

.container__login__right {
  display: flex;
  border-radius: 5px;
  height: 100%;
  background: var(--spotify-color);
  color: #f7f7f7;
  width: 50%;
}

.paragraph {
  background: none;
  color: black;
  overflow: hidden;
  animation:
    fadeIn 3s;
}

.title {
  background: none;
}

#profile__pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#btnLogin {
  /*background: #f7f7f736;*/
  color: var(--spotify-color);
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  align-self: center;
  border: none;
  font-size: 1em;
}

#btnGeneratePlaylist {
  color: black;
  position: fixed;
  right: 0;
  margin-right: 10px;
  background-color: var(--spotify-color);
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  width: fit-content;
  align-self: center;
  border: none;
  font-size: 0.8em;
}


#btnLogin:hover,
#btnGeneratePlaylist:hover {
  cursor: pointer;
  background: #f7f7f7;
  transition: 0.2s ease-in-out;
  font-weight: bolder;
}

/* The typing effect */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.display__user {
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: flex-start;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 1;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;
}

#resume__info {
  margin-left: 25px;
}

.container__user {
  overflow-y: hidden;
  margin-top: 75px;
  background-color: #111111 !important;
  overflow-x: hidden;
}

.container__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container__playlist,
.container__album {
  display: grid;
  max-height: 500px;
  background-color: black;
}

.container__table {
  background-color: black;
  padding-left: 20px;
  padding-right: 15px;
}

.playlist__card,
.album__card {
  color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background: #111111;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#playlist__total {
  color: #f7f7f7;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#playlist__scrollbar__transparent::-webkit-scrollbar-track {
  background: transparent;
}

#album__scrollbar__transparent::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--spotify-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

#playlist:hover,
#album:hover {
  cursor: pointer;
  color: var(--spotify-color);
}

a {
  text-decoration: none;
  color: inherit;
}

#album__image {
  width: 125px;
  border-radius: 10px;
}

.flex__row {
  display: flex;
  flex-direction: row;
}

#album__item {
  margin-left: 2em;
}

#table {
  width: 100%;
  color: #f7f7f7;
  border-collapse: collapse;
  border-left: 1px solid;
  box-shadow: 0px 1px 2px 2px rgba(255, 255, 255, 0.918);
  justify-content: center;
}

#table__row {
  justify-content: space-between;
  background: #111111;
  border-radius: 5px;
  margin-top: 2em;
}

#table__row:hover {
  background: #1ed760;
  color: black;
  cursor: pointer;
}

td {
  padding-top: 5px;
}


#table__body td {
  font-weight: normal;
}

tr:nth-child(n + 4) {
  visibility: hidden;
}

#table__head {
  font-weight: bolder;
  font-size: large;
  border-bottom: 1px solid white;
}

.arrow {
  border: solid #f7f7f7;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#btnArrow {
  background: transparent;
  border: none;
  padding-right: 20px;
}

.arrow:hover {
  border: solid var(--spotify-color);
  transition: all 0.5s ease-in-out;
  border-width: 0 4px 4px 0;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

#last__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #f7f7f7;
  box-shadow: 0px 4px 0px 2px rgba(255, 255, 255, 0.918);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1em;
}

.sidebar__loading {
  display: flex;
  align-content: center;
}