@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&display=swap');

:root {
  --spotify-color: #1ed760;
  --bg-color: black;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--spotify-color);
  font-weight: bolder;
}

html {
  background: #01102d
}

.container__login {
  display: flex;
  flex-direction: row;
  margin: 20vh auto;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 8px 8px 1px 1px rgba(255, 255, 255, 1);
  max-width: 700px;
  height: 500px;
  text-align: center;
}

.align__center {
  align-items: center;
}

.justify__center {
  justify-content: space-evenly;
}

.container__login__left {
  background-image: url('./img/AI.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.container__login__full {
  background-image: url('./img/AI.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  border: 1px solid white;

}

.container__login__right {
  display: flex;
  border-radius: 5px;

  height: 100%;
  background: var(--spotify-color);
  color: #f7f7f7;
  width: 50%;
}

.paragraph {
  background: none;
  color: black;
  overflow: hidden;
  animation:
    fadeIn 3s;
}

.title {
  background: none;
}

#profile__pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#btnLogin {
  /*background: #f7f7f736;*/
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  align-self: center;
  border: none;
  font-size: 1em;
}

#btnLogin:hover {
  cursor: pointer;
  background: #f7f7f7;
  transition: 0.2s ease-in-out;
  font-weight: bolder;
}

/* The typing effect */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.display__user {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 1;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding-left: 10px;
}

#resume__info {
  margin-left: 10px;
}